<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	{% load staticfiles %}
	{% load nbsp %}
	<link rel="stylesheet" href="{% static "css/reset.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">

	<title>台大所有的在地行程-旅人幫</title>
	{% include "navigation_static_file.html" %}
</head>
<body>
	{% include "navigation_bar.html" %}
	<div class="select">
		<div class="choose" id="area">
			<h1 id="choose">請選擇地區</h1>
			<li class="category">{{region}}
				<ul>
					<li class="hoverColor">台北</li>
					<li>新竹</li>
					<li>台中</li>
					<li>台南</li>
					<li>高雄</li>
				</ul>
			</li>
		</div>
		<div class="choose" id="school">
			<h1 id="choose">學校</h1>
			<li class="category">{{name}}
				<ul>
					<li class="hoverColor">臺大</li>
					<li>清大</li>
					<li>交大</li>
				</ul>
			</li>
		</div>
		<div class="choose" id="product">
			<h1 id="choose">商品類別</h1>
			<li class="category">請選擇
				<ul>
					<li>所有商品</li>
					<li>半日 / 一日遊</li>
					<li>戶外活動</li>
					<li>美食</li>
					<li>表演活動</li>
					<li>歷史文化</li>
				</ul>
			</li>
		</div>
		<div>
			<h1 id="choose">行程類別</h1>
			<li class="tourcategory">文化藝術</li>
			<li class="tourcategory">半日／一日遊</li>
			<li class="tourcategory">觀光行程</li>
			<li class="tourcategory">體驗／學習課程</li>
			<li class="tourcategory">美食購物</li>
			<li class="tourcategory">戶外活動</li>
			<li class="tourcategory">自然景觀</li>
		</div>
	</div>
	<div class="tour" id="listPageBackground">
		<div class="intro">
			<h1><div class="mainColor">100</div> 項體驗行程 - - {{region}} , {{name}}</h1>
		</div>
		<div class="rank">
			<li id="rank">排序 熱門度高到低
				<ul>
					<a href="{% url "list" %}?region={{region}}&school={{name}}&order=-price">
						<li>價格：高 到 低</li>
					</a>
					<a href="{% url "list" %}?region={{region}}&school={{name}}&order=price">
						<li>價格：低 到 高</li>
					</a>
					<li>熱門度高到低</li>
				</ul>
			</li>
		</div>
		{% for trip in trips %}
		<a href="{% url "trip" %}" class="tourlink">
			<div class="tourlist">
				<div class="tourpFrame">
					<img class="tourp" src="{% static "images/" %}{{trip.image}}">
				</div>
				<div class="tourtitle">
					{{ trip.tourTitle }}
				</div>
				<div class="tourplace">
					<img class="tourplacep" src="{% static "images/category.png" %}">
					<h1>
						{{ trip.categories|join:"、" }}
					</h1>
				</div>
				<div class="tourhour">
					<img class="tourplacep" src="{% static "images/clock.png" %}">
					<h1>{{trip.tourHour}}小時</h1>
				</div>
				<div class="starbox">
					{% for counter in 5|times %}
					    {% if counter < trip.star %}
					    <img class="tourplacep" src="{% static "images/star.png" %}">
						{% else %}
						<img class="tourplacep" src="{% static "images/starGrey.png" %}">
					    {% endif %}
					{% endfor %}
					<div class="mainColor">{{trip.commentCounter}}&nbsp</div>則評論
				</div>
				<div class="price">
					<h1 id="dollar">NTD</h1>
					<h1 id="price">{{ trip.price }}</h1>
				</div>
				<div class="tag">
					{% if trip.hot %}
					<span id="tag">熱門</span>
					{% endif %}
					{% if trip.recommend %}
					<span id="tag">推薦</span>
					{% endif %}
				</div>
			</div>
		</a>
			{% if not forloop.last %}
		    <div class="space"></div>
			{% endif %}
		{% endfor %}
	</div>
</body>
</html>
