<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/addTrip.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar2.css" %}" type="text/css">
    <title>新增行程</title>
</head>
{% include "navigation_static_file.html" %}
{% include "calendar_static2.html" %}

<body>
    <form>
        <div class="addIntro">
            <h1>行程簡介</h1>
            <textarea class="writeIntro" id="introWriting"></textarea>
            <!--<img id="calendar" src="{% static "images/calendar.png" %}">-->
        </div>
        {% include "calendar2.html" %}

        <div class="addTripDiv">
            <div class="addPhoto">
                <label class="choose-file" id="upload" for="id_image_large"></label>
                <input type="file" id="id_image_large" name="image_large">
            </div>
            <textarea class="writeIntro" id="travelWriting"></textarea>
        </div>

        <div class="addTripDiv">
            <div class="addPhoto">
                <label class="choose-file" id="upload" for="id_image_large"></label>
                <input type="file" id="id_image_large" name="image_large">
            </div>
            <textarea class="writeIntro" id="travelWriting"></textarea>
        </div>

        <div class="addTripDiv">
            <div class="addPhoto">
                <label class="choose-file" id="upload" for="id_image_large"></label>
                <input type="file" id="id_image_large" name="image_large">
            </div>
            <textarea class="writeIntro" id="travelWriting"></textarea>
        </div>

        <input type="submit" class="submitBtn">
    </form>

</body>

</html>
