<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    {% load nbsp %}
    <meta charset="utf-8"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/addTrip.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar2.css" %}" type="text/css">
    <title>新增行程</title>
    {% include "navigation_static_file.html" %}
    {% include "calendar_static2.html" %}
</head>
<body>
    {% include "navigation_bar.html" %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="addIntro" style="display:inline-block;">
            <div style="display:inline-block; margin-bottom: 30px;">
                行程標題：
                <input name="title">
            </div><br>
            <div style="display:inline-block; margin-bottom: 30px;">
                行程價格：
                <input name="price">
            </div>
            <h1>行程簡介</h1>
            <textarea class="writeIntro" id="introWriting" name="introWriting"></textarea>
            <!--<img id="calendar" src="{% static "images/calendar.png" %}">-->
        </div>
        {% include "calendar2.html" %}
        <div style="display:inline-block; margin-left: 80px;">
            景點標題：
            <input name="siteTitle1">
        </div>
        <div class="addTripDiv">
            <div class="addPhoto">
                <label class="choose-file" id="upload" for="id_image_large"></label>
                <input type="file" id="id_image_large" name="image_large1">
            </div>
            <textarea class="writeIntro" id="travelWriting" name="travelWriting1"></textarea>
        </div>
        <div style="display:inline-block; margin-left: 80px;">
            景點標題：
            <input name="siteTitle2">
        </div>
        <div class="addTripDiv">
            <div class="addPhoto">
                <label class="choose-file" id="upload" for="id_image_large"></label>
                <input type="file" id="id_image_large" name="image_large2">
            </div>
            <textarea class="writeIntro" id="travelWriting" name="travelWriting2"></textarea>
        </div>
        <div style="display:inline-block; margin-left: 80px;">
            景點標題：
            <input name="siteTitle3">
        </div>
        <div class="addTripDiv">
            <div class="addPhoto">
                <label class="choose-file" id="upload" for="id_image_large"></label>
                <input type="file" id="id_image_large" name="image_large3">
            </div>
            <textarea class="writeIntro" id="travelWriting" name="travelWriting3"></textarea>
        </div>

        <input type="submit" class="submitBtn">
    </form>

</body>

</html>
