<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>台大真實體驗營</title>
    {% include "navigation_static_file.html" %}
</head>
<script>
    var id;
    $(document).ready(function() {
        $("div.content-btn").hover(
            function() {
                id = this.id;
                $(this).addClass("btn-hover");
                $(this).removeClass("btn-unhover");
                if (id === "commentContent") {
                    $("#tourContent").removeClass("btn-hover");
                }
                else {
                    $("#commentContent").removeClass("btn-hover");
                }
            },
            function() {
                $(this).removeClass("btn-hover");
            }
        );

        $("div.content-btn").click(function() {
            id = this.id;
            $(this).addClass("btn-selected");
            $(this).removeClass("btn-unselected");
            if (id === "commentContent") {
                btnCommentClick();
                $("#tourContent").addClass("btn-unselected");
                $("#tourContent").removeClass("btn-selected");
            }
            else {
                btnTourClick();
                $("#commentContent").addClass("btn-unselected");
                $("#commentContent").removeClass("btn-selected");
            }
        });
    });

    function btnCommentClick() {
        $("div.tour-site").css("display", "none");
        $("div.comment").css("display", "block");
    }

    function btnTourClick() {
        $("div.tour-site").css("display", "block");
        $("div.comment").css("display", "none");
    }
</script>

<body>
    {% include "navigation_bar.html" %}
    <div class="cover"></div>
    <div class="tripTopic">[ 台大真實體驗營 ] 腳踏車繞校園＋小木屋鬆餅＋{{name}}鮮奶</div>
    <div class="container">
        <div class="left-container">
            <div class="upper-container">
                <div class="upper-left">
                    <div class="guide-info">
                        <a href="{% url "guide" %}">
                            <div class="guide-left">
                                <img class="double-border" src="{% static "images/profile.jpg" %}">
                            </div>
                        </a>
                        <div class="guide-right">
                            <div class="guide-name">
                                <h1>郭大槌</h1>
                                <img src="{% static "images/icon-sex.png" %}">
                            </div>
                            <div class="guide-star">
                                親和力：　　<img src="{% static "images/starbox.png" %}"><br>
                                滿意度：　　<img src="{% static "images/starbox.png" %}"><br>
                                第一印象：　<img src="{% static "images/starbox.png" %}"><br>
                                口條：　　　<img src="{% static "images/starbox.png" %}"><br>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <div class="d-title">行程簡介</div>
                        <div class="d-content">
                            臺大資管學生帶你騎腳踏車遊校園，品嚐台大最夯美食「小木屋鬆餅」，再配上排隊才買得到的台大鮮乳，整趟輕鬆寫意的旅程絕對值回票價！
                            <br>
                        </div>
                    </div>
                    <div class="tour-star">
                        <img src="{% static "images/starbox.png" %}">
                        <h1>行程評價</h1>
                    </div>
                </div>
            </div>
            <div class="lower-container">
                <div class="tour-content">
                    <div class="content-btn btn-selected" id="tourContent">行程內容</div>
                    <div class="content-btn" id="commentContent">評論</div>
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>小木屋鬆餅</p>
                                <img class="double-border" src="{% static "images/site1.jpg" %}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="t-content">
                                台大校園的小木屋鬆餅不論是平日還是假日都很多人排隊，最主要是便宜又好吃
                                <br>
                                <br> 口味眾多也吸引許多外來遊客前往朝聖，假日也常見到一家大小或 是情侶攜手前往校園散步遊玩，然後人手一份鬆餅坐在樹下品嚐。
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>大一女舍</p>
                                <img class="double-border" src="{% static "images/site3.jpg" %}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="t-content">
                                美食廣場，
                                <br> 女生宿舍。
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>社科院圖書館</p>
                                <img class="double-border" src="{% static "images/site2.jpg" %}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="t-content">
                                本院新大樓由日本知名建築家，2012年普立茲克建築獎 (Pritzker Architecture Prize)得主伊東豐雄(Toyo ITO)建 築師設計，並獲得2013年第35屆臺灣建築佳作獎的榮譽。
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment double-border">
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/guest1.jpg" %}">
                            <p>David</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        這些行程都是台大生才知道的私房景點，推薦！
                    </div>
                </div>
                <div class="divider"></div>
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/guest2.jpg" %}">
                            <p>瑤瑤</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        還行啊！
                        <br>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/guest3.jpg" %}">
                            <p>翰伸</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        怎麼沒有籃球場？
                        <br> 怎麼沒有籃球場？
                        <br> 怎麼沒有籃球場？
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="book-box">
                <div class="box-row">
                    <div class="box-upper-left">
                        <h1>使用日</h1>
                    </div>
                    <div class="box-upper-right">
                        <div class="calendar-btn">
                            選擇使用日期
                        </div>
                    </div>
                </div>
                <div class="box-row">
                    <div class="box-upper-left">
                        <h1>總金額</h1>
                    </div>
                    <div class="box-upper-right">
                        <h1>1,500 TWD</h1>
                    </div>
                </div>
                <div class="box-row">
                    <div class="submit-btn">
                        立刻訂購
                    </div>
                </div>
            </div>
            <div class="add-like">
                <div class="add-btn">
                    加入我的收藏
                </div>
            </div>
        </div>
    </div>


</body>

</html>
