<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    {% load nbsp %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar.css" %}" type="text/css">
    <title>{{trip.title}}</title>
    {% include "navigation_static_file.html" %}
    {% include "calendar_static.html" %}
</head>
<script>
    var id;
    var count = 0;
    $(document).ready(function() {
        $("div.content-btn").hover(
            function() {
                id = this.id;
                $(this).addClass("btn-hover");
                $(this).removeClass("btn-unhover");
                if (id === "commentContent") {
                    $("#tourContent").removeClass("btn-hover");
                }
                else {
                    $("#commentContent").removeClass("btn-hover");
                }
            },
            function() {
                $(this).removeClass("btn-hover");
            }
        );

        $("div.content-btn").click(function() {
            id = this.id;
            $(this).addClass("btn-selected");
            $(this).removeClass("btn-unselected");
            if (id === "commentContent") {
                btnCommentClick();
                $("#tourContent").addClass("btn-unselected");
                $("#tourContent").removeClass("btn-selected");
            }
            else {
                btnTourClick();
                $("#commentContent").addClass("btn-unselected");
                $("#commentContent").removeClass("btn-selected");
            }
        });

        $("#chooseDay").click(function(){
            if (count % 2 == 0) {
                $(".calendarBox").css("display","block");
            }
            else {
                $(".calendarBox").css("display","none");
            };
            if (finish) {
                $(".calendarBox").css("display","none");
            };
            count++;
        });

        $("#submit").click(function() {
            if(finish) {
                alert("已經將導遊聯絡資訊寄送到您的信箱！另外，導遊也將收到出遊通知信。祝您玩得愉快！");
                window.location.reload("");
            };
        });
    });

    function btnCommentClick() {
        $("div.tour-site").css("display", "none");
        $("div.comment").css("display", "block");
    }

    function btnTourClick() {
        $("div.tour-site").css("display", "block");
        $("div.comment").css("display", "none");
    }

</script>

<body>
    {% include "navigation_bar.html" %}
    <div class="cover"></div>
    <div class="tripTopic">{{trip.title}}</div>
    <div class="container">
        <div class="left-container">
            <div class="upper-container">
                <div class="upper-left">
                    <div class="guide-info">
                        <a href="{% url "guide" %}">
                            <div class="guide-left">
                                <img class="double-border" src="{% static "images/profile.jpg" %}">
                            </div>
                        </a>
                        <div class="guide-right">
                            <div class="guide-name">
                                <h1>郭大槌</h1>
                                <img src="{% static "images/icon-sex.png" %}">
                            </div>
                            <div class="guide-star">
                                親和力：　　<img src="{% static "images/starbox.png" %}"><br>
                                滿意度：　　<img src="{% static "images/starbox.png" %}"><br>
                                第一印象：　<img src="{% static "images/starbox.png" %}"><br>
                                口條：　　　<img src="{% static "images/starbox.png" %}"><br>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <div class="d-title">行程簡介</div>
                        <div class="d-content">
                            {{trip.description}}
                            <br>
                        </div>
                    </div>
                    <div class="tour-star">
                        <img src="{% static "images/starbox.png" %}">
                        <h1>行程評價</h1>
                    </div>
                </div>
            </div>
            <div class="lower-container">
                <div class="tour-content">
                    <div class="content-btn btn-selected" id="tourContent">行程內容</div>
                    <div class="content-btn" id="commentContent">評論</div>
                    {% for site in sites %}
                    <div class="tour-site">
                        <div class="site-left">
                            <div class="site-name">
                                <p>{{site.name}}</p>
                                <img class="double-border" src="{% static "images/" %}{{site.image}}">
                            </div>
                        </div>
                        <div class="site-right">
                            <div class="t-content">
                                {{site.description|br}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="comment double-border">
                {% for comment in comments %}
                <div class="comment-box">
                    <div class="guest">
                        <div class="guest-info">
                            <img src="{% static "images/" %}{{comment.image}}">
                            <p>{{comment.name}}</p>
                        </div>
                    </div>
                    <div class="guest-comment">
                        {{comment.comment|br}}
                    </div>
                </div>
                {% if not forloop.last %}
                <div class="divider"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="right-container">
            <div class="book-box">
                <div class="box-row">
                    <div class="box-upper-left">
                        <h1>使用日</h1>
                    </div>
                    <div class="box-upper-right">
                        <div class="calendar-btn" id="chooseDay">
                            選擇使用日期
                        </div>
                    </div>
                    {% include "calendar.html" %}
                </div>
                <div class="box-row">
                    <div class="box-upper-left">
                        <h1>總金額</h1>
                    </div>
                    <div class="box-upper-right">
                        <h1>{{trip.price}} TWD</h1>
                    </div>
                </div>
                <div class="box-row">
                    <div class="submit-btn" id="submit">
                        立刻訂購
                    </div>
                </div>
            </div>
            <div class="add-like">
                <div class="add-btn">
                    加入我的收藏
                </div>
            </div>
        </div>
    </div>
</body>

</html>
