
body {
    background: rgba(200, 200, 200, 0.1);
}


.addIntro {
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 60%;
    display: inline-block;
}



.addIntro textarea {
    margin: 0;
    border: 2px solid rgba(0, 0, 0, 0.5);
}


.addIntro > h1 {
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.5);
    width: 77px;
    padding: 10px;
    color: white;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#calendar {
    position: absolute;
    top: 50px;
    width: 270px;
    margin-left: 120px;
}

.addTripDiv {
    width: 700px;
    width: 55%;
    height: 250px;
    margin-left: 80px;
    background: rgba(100, 100, 100, 0.1);
    margin-bottom: 40px;
}

.addTripDiv textarea {
    border: 0px;
}

.addPhoto {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: rgba(100, 100, 100, 0.1);;
    top: 25px;
    left: 25px;
}

.writeIntro {
    position: relative;
    display: inline-block;
    font-size: 1.15em;
}

#introWriting {
    width: 695px;
    width: 90%;
    height: 240px;
}

#travelWriting {
    left: 50px;
    top: 50px;
    vertical-align: top;
    width: 350px;
    width: 50%;
    height: 140px;
}

input[type="submit"].submitBtn {
    margin-top: 0;
    margin-left: 80px;
    margin-bottom: 100px;
    width: 90px;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
}



/* Hide file input */
#id_image_large {
    display: none;
}
/* Custom upload button appearance*/
#upload {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 30px;
    top: 30px;
    display: inline-block;
    width: 138px;
    height: 138px;
    background: url("../images/upload.png");
    background-size: cover;
}




