h1 {
    font-weight: bold;
}

.double-border {
    border: 1px solid #cccccc;
    padding: 2px;
    background: #ffffff;
}

.double-border:hover {
    opacity: 0.7;
}

.tripTopic {
    position: relative;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 1.7em;
    font-weight: bold;
}

.divider {
    height: 1px;
    background: #cccccc;
}

.cover {
    position: relative;
    background-image: url('../images/0001.jpg');
    background-size: cover;
    background-position: 0 60%;
    width: 100%;
    height: 400px;
}

.container {
    position: relative;
    padding-left: 125px;
    padding-right: 125px;
}

.left-container {
    width: 65%;
    display: inline-block;
}
.right-container {
    display: inline-block;
    width: 28%;
    float: right;
    vertical-align: top;
    margin-top: -97px; /* bad try */
}

.guide-info {
    width: 100%;
    height: 200px;
    padding-top: 40px;
}
.guide-left {
    height: 100%;
    border-radius: 50%;
    float: left;
}
.guide-left img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.guide-right {
    margin-top: 10px;
    height: 150px;
    float: left;
    margin-left: 40px;
}
.guide-name {
    width: inherit;
    height: 35px;
}
.guide-name h1 {
    float: left;
    font-size: 32px;
}
.guide-name img {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 15px;
}

.guide-star {
    margin-top: 10px;
    line-height: 0px;
}

.guide-star img {
    margin-top: 0px;
    width: 100px;
    vertical-align: -4px;
}


.description {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 30px;
    padding-bottom: 40px;
    border: 1px solid #dddddd;
    background: rgba(230, 230, 230, 0.5);
    width: 100%;
}
.d-title {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}
.d-content {
    margin: 20px;
    line-height: 22px;
    text-align: justify;
}

.tour-content {
    width: 712px;
}

.tour-content h1 {
    font-size: 1.5em;
    margin: 15px;
}

.tour-star {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
}
.tour-star h1 {
    font-size: 18px;
    float: right;
    margin-top: 2px;
}
.tour-star img {
    margin-top: 10px;
    width: 120px;
    float: right;
    margin-left: 10px;
}
.content-btn {
    width: 120px;
    font-size: 25px;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.btn-selected {
    background: #444444;
    color: #ffffff;
}
.content-btn:hover {
    transition: 0.25s;
    cursor: pointer;
}
.btn-unselected {
    background: #ffffff;
    color: #000000;
}
.btn-hover {
    background: #444444;
    color: #ffffff;
}
.btn-unhover {
    background: #ffffff;
    color: #000000;
}

.tour-site {
    padding: 30px;
    background: rgba(230, 230, 230, 0.5);
    margin-bottom: 20px;
}


.site-left {
    width: 55%;
    height: 100%;
    display: inline-block;
}
.site-name p {
    font-weight: bold;
    font-size: 25px;
    color: #444444;
}
.site-name img {
    width: 97%;
    margin-top: 15px;
}
.site-right {
    width: 44%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.tag {
    text-align: right;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    font-size: 0.8em;
    color: grey;
}
.tag a {
    color: #689BE9;
}
.t-content {
    width: 100%;
    text-align: justify;
    padding-left: 10px;
    padding-top: 40px;
    line-height: 22px;
    color: #222222;
}
.comment {
    padding: 20px;
    font-size: 25px;
    display: none;
}
.comment-box {
    width: 100%;
    padding: 20px;
    padding-top: 35px;
}
.guest {
    position: relative;
    width: 15%;
    display: inline-block;
}
.guest-info {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.guest-info img {
    border-radius: 50%;
    width: 90px;
}
.guest-comment {
    position: relative;
    width: 80%;
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
    vertical-align: top;
    margin-left: 20px;
}
.book-box {
    width: 100%;
    background: #eeeeee;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.box-row {
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
}
.box-upper-left {
    width: 30%;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}
.box-upper-right {
    width: 65%;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}
.calendar-btn {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
}
.calendar-btn:hover {
    transition: 0.25s;
    background: rgba(200, 245, 245, 0.2);
    cursor: pointer;
}
.submit-btn {
    position: relative;
    left: 50%;
    width: 250px;
    margin-left: -135px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: #0AA8A8;
    border-radius: 5px;
}
.submit-btn:hover {
    transition: 0.25s;
    background: #1CCACA;
    color: black;
    cursor: pointer;
}
.add-like {
    margin-top: 20px;
    width: 100%;
}
.add-btn {
    position: relative;
    left: 50%;
    width: 270px;
    margin-left: -145px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: #444444;
    border-radius: 5px;
}
.add-btn:hover {
    transition: 0.25s;
    background: #888888;
    cursor: pointer;
}

.guide {
    display: block;
    clear: left;
    width: 80%;
    margin-left: 7%;
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}


.guide-site {
    margin-top: 30px;
    padding: 2%;
    background: rgba(230, 230, 230, 0.5);
    width: 25%;
    float: left;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.guide-site .double-border {
    width: 100%;
}

.guide-site .site-left {
    width: 100%;
}

.guide-site .site-right {
    width: 100%;
}


.guide-container .tour-content {
    width: 90%;
    margin-left: 5%;
}

.guide-site .t-content {
    padding: 10px;
}

.guide-site .t-content p {
    font-weight: bold;
}

.guide .guest-comment {
    display: inline-block;
    width: 20%;
}

.commentImg {
    display: inline-block;
    margin-left: 35%;
}

.commentImg img {
    right: 0;
    width: 220px;
}