<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        {% load nbsp %}
        <link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/master.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/global.css" %}" type="text/css">
        <!-- <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" charset="utf-8"> -->
        <title>旅人幫</title>
    </head>
    <body>
        <div class="demo">
            {% include "navigation.html" %}
            <div class="center">
                <div id="big-slogan" class="slogan">
                    在這裡找到你喜愛的旅遊
                </div>
                <div id="small-slogan" class="slogan">
                    讓大學生帶你到處遊玩
                </div>
                <div class="search">
                    <div class="search-text button">
                        搜尋
                    </div>
                </div>
            </div>
        </div>
        <div class="tour">
            <div class="region">
                <div class="title">
                    找尋喜歡的行程與導遊
                </div>
                <div class="tour-row">
                    {% for top_region in top_regions %}
                    <div class="each-region">
                        <a href="{% url "list" %}?region={{top_region.region}}&school={{top_region.school}}">
                            <img class="region-img" src="{{top_region.image}}" />
                            <div class="region-name">
                                {{top_region.name|nbsp}}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <a href="{% url "list" %}?region=all">
                    <div class="see-more button">
                        查看全部行程
                    </div>
                </a>
            </div>
            <div class="hot-tour">
                <div class="title">
                    熱門行程
                </div>
                <div class="tour-row">
                {% for image in images %}
                {% if forloop.counter0 == 3 %}
                <div class="tour-row">
                </div>
                {% endif %}
                    <div class="each-region">
                        <img class="region-img" src="{{image}}" />
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer">
            this is footer,but it doesn't have anything to show now!
        </div>
    </body>
</html>
